html {
    font-family: sans-serif;
    text-align: center;
    background-color: hsl(14, 20%, 45%);
    color: white;
}

p {
    text-align: justify;
    font-size: 25px;
    line-height: 170%;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color:hsl(195, 61%, 25%);
    background-color: hsl(194, 60%, 90%);
    border: hsl(195, 61%, 25%) 5px solid;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}